

body{
 
}

.tituloprincipal {
  padding-left: 20px;
}

#banner {
 width: 100%; 
/* modificando a largura do elemento */
}

.principal {
  background: #cccccc;
  padding: 30px;
}

h2 {
text-align: center;
height: 150px;
border: 10px solid;
/* padding espaçamento interno*/

/* margin utilizado para da espaçamento externo */
}

p {

  text-align: center;
 
}
/* para identificar um id usasse: "#"*/
#missao {

  font-size: 20px
}

em strong {

    color: red;
}
/* para identificar classes usassamos : "." */
.itens {
  /* Definindo o estilo do testo para italico sem usar a tag em */
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}
h3 {
  text-align: center;
}

ul {
display: inline-block;
/* display = funcao que permite que outras tags ocupem a msm linha*/
vertical-align: top;
/* vertical = funcao que puxa os elementos para o topo*/
width: 20%;
margin-right: 15%;
}

.imagembeneficios {
 width: 50%;
}