body{
 
}

#banner {
 width: 100%; 
/* modificando a largura do elemento */
}

.principal {
  background: #cccccc;
}

h1 {
text-align: center;
height: 150px;
border: 10px solid;
/* padding espaçamento interno*/

/* margin utilizado para da espaçamento externo */
}

p {

  text-align: center;
 
}
/* para identificar um id usasse: "#"*/
#missao {

  font-size: 20px
}

em strong {

    color: red;
}
/* para identificar classes usassamos : "." */
.itens {
  /* Definindo o estilo do testo para italico sem usar a tag em */
  font-style: italic;
}

.beneficios {
  background: #FFFFFF;
}
h2 {
  text-align: center;
}