header {

  background-color: #bbbbbb;
  padding: 20px 0;
  /* utilizando espaçamento interno */
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
  /* utiliza a configuração auto, para que a caixa fique centralizada independente do tamanho da tela */
}
nav li {

  display: inline;
  /*troca o display da tag que antes era em block e cobria uma linha inteira */
  margin: 0 0 0 15 px;
  /* a margem segue o padrão height,width,right,left*/
}

nav a {

  text-transform: uppercase;
  /* transformando todo o texto em maiusculo*/
  color: #000000;
  font-weight: bold;
  /* mudando o peso da font para "em negrito" */
  font-size: 22px;
  text-decoration: none;
  /* definindo que não queremos derocação no texto, tirando o sublinhado que o href da a ele */

}

/* hover ee um comando utiliza (mapeamento) para dizer : quando o mouse estiver em cima da tag "a" em "nav" faça isso */

nav a:hover {

  color: blue;
  text-decoration: underline;

}  

nav {

  position: absolute;
  /* mudando o posicionamento geral dos itens de nav */
  top: 110PX;
  right: 0;
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;

}

.produtos li{

  display: inline-block;
  /* Com o tamanho do seu conteúdo, mas regulável */
  text-align: center;
  width: 30%;
  vertical-align: top;
  /* vertical aling foi usado pq o inline block alinha usando a linha de baixo e queriamos alinhar com a linha de cima */
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  /* mexendo com a bordar */
  border-color:#000000 ;
  border-width: 2px ;
  border-style: solid;
  border-top: 10px;
 /* ou border: 2px solid #000000 */
 /*Na estrutura de "caixas" do CSS, a borda fica posicionada entre o padding e a margin */
border-radius: 10px;
/* com border radius fazemos o arendondamento das bordas dx elas com 10 px mas também podemos personalizar e dx os cantos com medidas diferentes */
/* exemplo border-radius: 10px 20px 30px 40px; */
}

.produtos li:hover {
  border-color: blue;

}
/* active é evento realizados com click do mouse */
.produtos li:active {
  border-color: green;
}
/* quando o mouse estiver por cima do li , faça alterações no h2 : */
.produtos li:hover h2 {
  font-size: 34px;

}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;

}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0;
  /* ou margin-top: 10px*/
}

.produto-descricao {

  font-size: 18px;
}


footer {

  text-align: center;
  /* usando imagens de fundo, sempre que utilizarmos uma imagem mesmo que pequena o css faz o trabalho de replicar esta e preencher a coluna */
  background-color: #000000;
  padding: 40px 0;
}

.copyright {
  color: #bbbbbb;
  
  font-size: 13px;

  /* usando margin aq para distanciar este item do item acima dele */
  margin: 20 px 0 0;
}

/* centralizando os input */
main {
  width: 940px;
  margin: 0 auto;

}
/* dispositivo inline-> ocupa apenas o tamanho do seu conteudo/ dispositivo em block -> ocupa a linha inteira; */
form {
margin: 40px 0;

}

form label, form legend {
  display: block;
  font-size: 20px;
  /* margem pra baixo de 10px */
  margin: 0 0 10px;
}
/* adicionando a vircula, o vem a pos ela tera as mesma configurações do que antecede a virgula */
.input-padrao {
  display: block;
  margin: 0 0 20px;
  /*A propriedade padding serve para alterarmos o espaçamento interno, entre o conteúdo e a borda.*/
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  /* dando uma margem de 20px em cima e em baixo */
margin: 20px 0;

}

.enviar {

  width: 40%;
  padding: 15px 0 ;
background: orange;
color: white;
font-weight: bold;
font-size: 18px;
border: none;
border-radius: 5px;
/* adicionando transição a mudança de cor fica mais sutil e demora mais um pouco, a propriedade transition  prove uma transição visual de um elemento. */
transition: 1s all;
/*definindo assim q o botao é clicavel transformando a seta em maozinha */
cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  /* utlizando o trasnform mais scale para que assim q o mouse estiver em cima do botao o botão aumente em 20% */
  transform: scale(1.2);


}
table {
  margin: 20px 0 40px;
}

thead {
  background-color: #555555;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 8px 15px ;
}